.filters__img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 10px;
}

.filters__img img {
  width: initial;
  height: 100%;
}

.box{
display: flex;
}

body{
  background-color:#22EEE3;
  color:yellow;
}
  